.device-homepage-card {

    .image {
        img {
            width: 80% !important;
            margin: auto !important;
        }
    }
    .content {
        text-align: center;
    }
    button {
        width: 80%;
    }
}


/* Mobile views */
@media (max-width: 750px) {
    .device-homepage-card { 
        min-width: 100% !important;
        margin: auto !important;
        margin-bottom: 3.5rem !important;
    }
}