.device-homepage-card {

    width: 200px !important;

    .image {
        img {
            width: 150px !important;
            margin: auto !important;
        }
    }
    .content {
        text-align: center;
    }
    button {
        width: 80%;
    }
}