.ui.menu.top-menu {
    border: none; /*Remove Semantic UI's bottom border*/
    .logo {
      width: 6rem;
    }
    .nav-container {
      justify-content: space-between; /*maximize whitespace between elements*/
      flex-grow: 1; /* take available space in the flex container */
      padding: 0;
    }
    .header-icon {
        color: #222;
    }
    .website-title {
        color: #222;
        margin: 0;
        width: 100%;
    }
    .header-link {
        transition: background-color .2s linear;
    }
  }