.fb-post {
    
    width: 100% !important;

    span {
        width: 100% !important;
        width: 200px;
        border-radius: 15px !important;
        overflow: hidden !important;

        iframe {
            width: 100% !important;
        }
    }
}

.review-column-container {
    width: 100% !important;
}

/* Video Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.video-section {
    padding: 5rem 0;
    text-align: left;

    iframe {
        width: 100%;
    }
}

// Align the reviews vertically
.review-column {
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
}

.video-text {
    max-width: 450px !important;

    p {
        text-align: justify !important;
    }
}

.review-heading {
    margin-bottom: 4rem;
}
/* Tablet Views */
@media (max-width: 768px) {
    .review-column {
        height: unset;
        width: 100% !important;
        margin: auto !important;
        padding-bottom: 2.5rem !important;
    }
}
/* Mobile views */
@media (max-width: 480px) {
    .video-container {
        height: 150px;
    }
    .video-section {
        iframe {
            height: 100% !important;
        }
    }
    .review-column {
        width: 100%;
    }
    .review-column-container {
        width: 95% !important;
        margin: auto !important;
    }
    .video-text {
        text-align: center;

        h2 {
            margin: 2.5rem;
        }
    }
}