.device-pricing {

    text-align: center;
    min-width: 200px !important;

    .image {
        background: none !important;
        border: none !important;
        padding: 1rem 3rem !important;

        img {
            width: 100px !important;
            margin: auto !important;
        }
    }
    .content {
        border: none !important;

        .header, .description {
            font-size: 2.2rem !important;
        }
    }
}

.repair-price-text {
    // font-weight: bold !important;
    // color: #2EB2FF !important;
}

/* Mobile views */
@media (max-width: 750px) {
    .device-pricing { 
        min-width: 100% !important;
        margin: auto !important;
        margin-bottom: 3.5rem !important;
    }
}