/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.parallax {
    /* The image used */
    background-image: url("../images/bg-darken.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tandc {
    text-align: left;
    color: white;
    padding: 20px 0;
}

/* Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing {
    height: 200px;
}

.landing-heading {
    color: #fff;
}

.landing-description {
    color: #ccc;
}

/* Marquee
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.marquee-heading {
    padding-top: 10px;
    color: #ccc;
    text-align: left;
}

/* Info
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info {
    color: #222;
    background-color: #fff;
    padding-bottom: 10rem;
    padding-top: 0;
    text-align: center;
}
.info-container {
    top: -80px;
}
.value-multiplier {
    margin-bottom: .5rem;
    color: #222;
}
.value-heading {
    margin-bottom: .3rem;
}
.value-description {
    opacity: .8;
    font-weight: 300;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
    text-align: center;
    color: #fff;
    background-color: #222;
    padding: 0;
}

.footer-container {
    height: 60px;
}

.social-media {
    padding: 20px 0 0 0;
    margin: 0
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
    text-align: left;
    color: #fff;
    background-color: #222;
    padding: 0;
    height: 60px;
}

.navbar-title {
    padding-top: 10px;
}

/* Marketplace
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.marketplace {
    padding: 8rem 0 7rem;
    text-align: center;
}

.marketplace-heading {
    color: #fff;
    padding-bottom: 20px;
    text-decoration: underline;
}

.screenshot-holder {
    /* background: #ffffff88; */
    background: none;
}

.carousel .slide {
    background: none;
}

.carousel.carousel-slider {
    /* border-radius: 10px; */
}

.carousel .slide img {
    height: auto;
}

.carousel-holder {
    max-width: 512px;
    margin: auto;
}

.options-holder {
    height: 60px;
}

.options-list, 
.options-list-minor {
    list-style: none;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.option,
.selected-option,
.option-minor,
.selected-option-minor {
    border-color: #ccc;
    border-style: solid;
    border-width: 2px;

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 4.5rem;
    color: #fff;

    position: relative;
    float: left;

    transition: .2s linear background-color;
    cursor: pointer;

    padding: 0 15px;
    margin: 0;
}

.option-minor,
.selected-option-minor {
    margin-left: 0;
    line-height: 2.5em;
    /* border: none; */
    transition: .2s linear color;
    background: none;
    border-radius: 0px;
}

.selected-option-minor {
    color: #222;
}

.option-minor:hover {
    background-color: #888;
}

.selected-option {
    background-color: #222;
}

.option:hover {
    background-color: #888;
}

.info-box {
    text-align: left;
}

.purchase-info {
    color: white;
    margin-bottom: 0;
}

.purchase-holder {
    padding-bottom: 30px;
}

.paypal-button-holder {
    width: 150px;
}

.specification-key {
    color: white;
    margin: 0;
}

.specification-value {
    color: #ccc;
    margin: .2em;
}

.refurbishments-title {
    color: white;
    width: 100%;
}

.container-marketplace {
    max-width: unset;
}

.phone {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

.phone-name {
    color: #ccc;
    text-align: left;
}

/* Mobile views */
@media (max-width: 750px) {
    .landing {
        height: 400px;
    }
    .info {
        padding-bottom: 0;
    }
    .screenshot-holder {
        margin-bottom: 20px;
    }
    .option,
    .selected-option,
    .option-minor,
    .selected-option-minor {
        margin: auto;
    }
    .options-list, 
    .options-list-minor {
        display: flex;
    }
    .notes-holder,
    .info-box {
        text-align: center;
    }

}

/* Bigger than 550 */
@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */
@media (min-width: 750px) {
    .hero {
        height: 190px;
    }
    .hero-heading {
        font-size: 2.6rem;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .hero {
        padding: 16rem 0 14rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .phone {
        top: -14rem;
        right: 5rem;
        max-height: 510px;
    }
    .phone + .phone {
        top: -12rem;
        max-height: 472px;
    }
    .categories {
        padding: 15rem 0 8rem;
    }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .hero {
        padding: 22rem 0;
    }
    .hero-heading {
        font-size: 3.0rem;
    }
    .phone {
        top: -16rem;
        max-height: 615px;
    }
    .phone + .phone {
        top: -14rem;
        max-height: 570px;
    }
}